.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
site_build
venv
docs.zip
archive.zip
test.py
ad11e2cb-8de1-40ed-9315-fe4eb1678fb6

ddee7fe0-8e3e-4e59-b739-b998b8330cea
# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store